/* 構造管理 */
body {
  margin: 0px;
  padding: 0px;
}

/* contents構造 */

.main-contents {
  background-color: #FFA64D;
}

/* contents background color */
.content-bg {
  background-color: #F5F7FA;
}

.content-bg2 {
  background-color: #FFFFFF;
}

/* font */
.contents-title {
  text-align: center;
  font-size: 24px;
}

.contents-message {
  text-align: center;
  font-size: 12px;
}

/* images */
img.system-img {
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px;
  width: 50%;
}

/* main */

.lead {
  margin-bottom: 0px;
}

.lead-2 {
  margin-top: 6px;
  font-size: 11px;
}

/* system */
.system-font {
  font-size: 14px;
  text-align: center;
}

/* contact form */
.contact-form {
  margin-left: 20px;
  margin-right: 20px;
}

.form {
  max-width: 315px;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */
.footer {
  margin-bottom: 0px;
}

.footer-font {
  text-align: center;
  font-size: 12px;
  color: #FFA64D;
}

/* about.html  */
.people-img {
  max-width: 140px;
}

.sns-img {
  max-width: 30px;
}

.sns-icon-table {
  text-align: center;
  margin: auto;
}

.sns-icon-table-img {
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.profile {
  margin-top: 16px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.profile-name {
  margin: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.profile-text {
  text-align: center;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  font-size: 11px;
}
