/* 構造管理 */
body {
  margin: 0px;
  padding: 0px;
}

/* contents構造 */

.main-contents {
  background-color: #FFA64D;
}

/* contents background color */
.content-bg {
  background-color: #F5F7FA;
}

.content-bg2 {
  background-color: #FFFFFF;
}

/* font */
.contents-title {
  text-align: center;
  font-size: 24px;
}

.contents-message {
  text-align: center;
  font-size: 14px;
}


/* contact form */
.contact-form {
  margin-left: 20px;
  margin-right: 20px;
}

.form {
  max-width: 315px;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */
.footer {
  margin-bottom: 0px;
}

.footer-font {
  text-align: center;
  font-size: 12px;
  color: #FFA64D;
}


/* css効いてるかのチェックのみのcss */

.test-h1 {
  color: red;

}

.test-p {
  background-color: blue;
}
